@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap);

* { box-sizing: border-box; }

html, body { height: 100%; overflow: hidden; }

body { background: transparent !important; line-height: 1.5em; color: #fff;}

#log>div { position: relative; padding-top: 21px; margin-bottom: 25px; }
#log>div:last-child {margin-bottom: 0px;}
#log>div { animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease 0 forwards;
  -webkit-animation: fadeInLeft .3s ease forwards, fadeOut 0.5s ease 0 forwards;}

.colon { display: none; }

#log {position: absolute; width: 100%; bottom: 0; left: 0; padding: 0 10px 10px;}
#log>div.deleted { visibility: hidden; }

/* ===== USERNAME ===== */
#log .meta {position: absolute; top: 0; left: 0; padding: 9px 14px; line-height: 18px; border-radius: 8px; z-index: 1;
  transform: rotate(-5deg); font-family: 'Chelsea Market', cursive; font-size: 18px; font-weight: 900; text-transform: uppercase;}
  #log .meta .badges {float: left; margin-right: 10px;}
    #log .meta .badges > img { width: 18px; height: 18px; margin-right: 5px;}
      #log .meta .badges > img:last-child {margin-right: 0;}
  #log .meta .name {float: left; line-height: 21px;}

/* ===== USERMESSAGE ===== */
#log .message {position: relative; min-height: 20px;}
  #log .message .container-message {margin-left: 10px; padding: 30px 18px 15px 18px; border-radius: 10px;
    font-family: 'Mulish', sans-serif; font-size: 18px; word-break: break-word; color: #000; background-color: #fff;}
    #log .message .container-message .emote {background-image: none !important;}
    #log .message .container-message .emote img {max-width: 25px;}